// colors

$color-1: #33435a; // blue
$color-2: #475f74; // light blue
$color-3: #f2eacf; // yellow
$color-4: #d95353; // red
$color-5: #ffffff; // white

// fonts 

$primary-font: 'Roboto', sans-serif;